html {
  background-color: #010b44;
  color: rgba(255, 144, 46, 1);
  margin: 0;
  padding: 0;
  width: 450px;
  height: 500px;
}

body {
  white-space: nowrap;
  text-align: center;
  padding-right: 2rem;
  background-color: #00327b;
  width: 100rem;;
  height: 500px;
}

.header {
  background:linear-gradient(to bottom, rgba(2, 11, 69, 1) 40%, #003264 80%, #00327b);
  width: 30rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

h1 {
  font-size: 28px;
}


main {
  color: white;
  text-align: center;
  justify-content: center;
}


input, textarea {
   width: 100%;
 }

textarea {
  height: 200px;
}


table {
  width: 350px;
  margin-left: 30px;
  margin-top: 0.5rem;
}

tr {
  margin-bottom: 50px;
}

td {
  font-size: 20px;
}

button {
  background-color: #010b44;
  border-color: #5363FF;
  height: 40px;
  width: 40px;
  border-radius: 1em;
  border-width: 0.25em;
  background-image: url(../images/back.png);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  margin: 1rem;
  padding: 1.5em;
}

td a {
  cursor: default;
}

.submit {
  cursor: pointer;
  background-color: #010b44;
  border-color: #5363FF;
  border-width: 0.25em;
  height: 50px;
  width: 200px;
  border-radius: 2rem;
  color: white;
  font-size: 16px;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  position: fixed;
  display: flex;
  background: linear-gradient(to top, rgba(2, 11, 69, 1) 55%, #003264 80%, #00327b);
  height: 100px;
  padding-top: 1rem;
  text-align: center;
  justify-content: center;
}
