html {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  margin: 0;
  padding: 0;
  width: 450px;
  height: 500px;
}

body {
  white-space: nowrap;
  text-align: center;
  padding-right: 2rem;
  background-color: var(--main-bg-color);
  width: 100rem;
  height: 500px;
  font-family: var(--main-font-family);
}

.header {
  background:var(--main-header-bg-color);
  width: 30rem;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: var(--header-font-family);
}

h1 {
  font-size: 28px;
}


main {
  color: var(--main-font-color);
  text-align: center;
  justify-content: center;
}


input, textarea {
   width: 100%;
 }

textarea {
  height: 200px;
}


table {
  width: 350px;
  margin-left: 30px;
  margin-top: 0.5rem;
}

tr {
  margin-bottom: 50px;
}

td {
  font-size: 20px;
}

button {
  background-color: var(--main-button-bg-color);
  border-color: var(--main-border-color);
  height: 40px;
  width: 40px;
  border-radius: 1em;
  border-width: 0.25em;
  background-image: url(../images/back.png);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  margin: 1rem;
  padding: 1.5em;
}

td a {
  cursor: default;
}

.submit {
  cursor: pointer;
  background-color: var(--main-button-bg-color);
  border-color: var(--main-border-color);
  border-width: 0.25em;
  height: 50px;
  width: 200px;
  border-radius: 2rem;
  color: white;
  font-size: 16px;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  position: fixed;
  display: flex;
  background: var(--main-footer-bg-color);
  height: 100px;
  padding-top: 1rem;
  text-align: center;
  justify-content: center;
}
