html {
  background-color: #5363FF;
  margin-left: 0;
  padding: 0;
}
body {
  margin: 10px;
  white-space: nowrap;
  width: 700px;
  height: 900px;
  text-align: center;
  border-style: solid;
  border-left-style: none;
  border-width: 7px;
  border-color: #3541b2;
  margin: 1;
  background-color: #539CFF;
}

.logo {
  margin-left: -300px;
  margin-bottom: 0;
  position: absolute;

}

h1 {
  font-size: 32px;
  color: white;
}

p, a{
  color:white;
}


.headlines {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

table {
  margin-top: 110px;
  font-size: 1rem;
  color: white;
}

button {
  background-color: #5363FF;
  border-color: #5363FF;
  height: 30px;
  width: 100px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  color: white;
  font-size: 10px;
}

th {
  background-color: white;
  color: #5363FF;
}



footer {
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  position: fixed;
  background-color: #5363FF;
  border-top-style: solid;
  border-top-width: 7px;
  border-top-color: #3541b2;
}

article {
  display: inline-block;
}

.header {
  background-color: #5363FF;
  border-bottom-style: solid;
  border-bottom-width: 7px;
  border-top-width: 7px;
  border-bottom-color: #539CFF;
  border-top-color: #5363FF;
  border-left-width: 9px;
  position: fixed;
  width: 100%;
  margin-top: -17px;
  padding-bottom: 20px;
  border-color: #3541b2;
  border-style: solid;
}

.redRocket {
  color: red;
  text-decoration-line: underline;
  font-weight: bolder;
}

.greenThumb {
  color: green;
  font-weight: bolder;
}



    ____.               __   _________ __                _______                              .__
    |    |__ __  _______/  |_/   _____//  |______  ___.__.\      \   ___________  _____ _____  |  |
    |    |  |  \/  ___/\   __\_____  \\   __\__  \<   |  |/   |   \ /  _ \_  __ \/     \\__  \ |  |
/\__|    |  |  /\___ \  |  | /        \|  |  / __ \\___  /    |    (  <_> )  | \/  Y Y  \/ __ \|  |__
\________|____//____  > |__|/_______  /|__| (____  / ____\____|__  /\____/|__|  |__|_|  (____  /____/
  \/              \/           \/\/            \/                   \/     \/
